@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Créer les mixins pour les différentes tailles d'écrans */
/* Déclaration des variables globales */ /* Appliquer les polices sur les différents niveaux de texte */
h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

p, i, li, a {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Color and size for generic parts */
body {
  background-color: #FFFFFF;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  padding: 7% 10% 2% 10%;
}

h2 {
  font-weight: bold;
  text-align: left;
}

p, li {
  padding: 2% 7%;
}

a {
  text-decoration: none;
  color: #000000;
}

/* Import des polices */
@font-face {
  font-family: Shrikhand;
  src: url("../../import/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../import/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../import/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
}
/* Créer des extensions pour les ombres et l'apparence des boutons */
figure, aside li, header p:last-child a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
figure:hover, aside li:hover, header p:last-child a:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

header p:last-child a {
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  margin: 1.5em auto;
  padding: 0.8em 1.5em;
  border-radius: 25px;
}

header {
  margin-bottom: 3%;
  background-color: #F7F7F7;
  padding-bottom: 1em;
  text-align: center;
}

header img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 7% 30% 3% 30%;
  min-width: 180px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header p:nth-child(2) {
  background-color: #EAEAEA;
  text-align: center;
  padding: 3% 0;
}

header p:last-child {
  margin: 2em 0;
}
footer {
  background-color: #353535;
  color: white;
  margin-top: auto;
  padding-bottom: 6%;
}

footer img {
  filter: invert(100%);
  width: 150px;
  margin: 5% 0 2% 10%;
}

footer a {
  color: white;
  margin: 3%;
}
footer a i {
  width: 20px;
  padding-right: 30px;
}

/** Aside
 *
 */
aside {
  padding: 50px 15px;
}
aside ol {
  list-style-type: none;
}

aside h2 {
  margin-left: 5px;
  font-size: 26px;
}

aside li {
  background: #F7F7F7;
  margin: 2%;
  border-radius: 15px;
  padding: 20px 0;
  padding-left: 3%;
  counter-increment: step-counter;
}
aside li i {
  padding-right: 2%;
  color: #7E7E7E;
}
aside li:hover { /* Change la couleur lors du survol */
  background-color: #F5EDFF;
}
aside li:hover i { /* L'icône change également de couleur */
  color: #9356DC;
}
aside li::before {
  content: counter(step-counter);
}
aside li:nth-of-type(1)::before {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: relative;
  left: -6%;
}
aside li:nth-of-type(2)::before {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: relative;
  left: -6%;
}
aside li:nth-of-type(3)::before {
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  padding: 5px 10px;
  position: relative;
  left: -6%;
}

/** Main
 * 
 */
main {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  background-color: #F7F7F7;
  padding: 50px 0;
}
main h2 {
  margin-left: 20px;
  font-size: 26px;
}

figure {
  position: relative;
  border-radius: 10px;
  align-self: center;
  width: 90%;
  height: 300px;
}
figure img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
figure p:first-child {
  font-weight: bold;
  position: absolute;
  top: 3%;
  right: 2%;
  margin: 5px;
  color: #008766;
  background-color: #99E2D0;
  z-index: 1;
}
figure figcaption {
  position: relative;
  padding: 2% 5%;
  font-size: 18px;
}
figure figcaption h3 {
  font-weight: 800;
  margin: 2px 0;
}
figure figcaption p {
  padding: 0;
}
figure figcaption i {
  position: absolute;
  right: 5%;
  top: 30%;
  font-size: 180%;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #FFFFFF;
}
figure figcaption i:active {
  color: #9356DC;
  text-shadow: none;
  transition: 1000ms;
}

/** Responsive
 * 
 */
@media only screen and (min-width: 992px) {
  body {
    background-color: black;
  }
}

/*# sourceMappingURL=style_index.css.map */
