/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: Shrikhand;
  src: url("../../import/fonts/Shrikhand/Shrikhand-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../import/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../import/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
}
h1 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h3 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

h4 {
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

p, i, li {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  background-color: #FFFFFF;
}

h2 {
  font-weight: bold;
  text-align: left;
}

p, li {
  padding: 2% 7%;
}

/** Header
 * 
 */
header {
  margin-bottom: 3%;
  background-color: #F7F7F7;
  padding-bottom: 1em;
  text-align: center;
}

header img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 7% 30% 3% 30%;
  min-width: 180px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header p:nth-child(2) {
  background-color: #EAEAEA;
  text-align: center;
  padding: 3% 0;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  padding: 7% 10% 2% 10%;
}

header p:last-child {
  color: white;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  width: 50%;
  margin: 1.5em auto;
  padding: 0.8em 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 25px;
}

/** Aside
 *
 */
aside li {
  border: 1px solid black;
  background: rgb(216, 216, 216);
  margin: 5%;
  border-radius: 25px;
}

/** Main
 * 
 */
main {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  background-color: #F7F7F7;
  padding: 50px 0;
}
main h2 {
  margin-left: 20px;
  font-size: 26px;
}

figure {
  position: relative;
  border-radius: 10px;
  align-self: center;
  width: 90%;
  height: 300px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
figure img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
figure p:first-child {
  font-weight: bold;
  position: absolute;
  top: 3%;
  right: 2%;
  margin: 5px;
  color: #008766;
  background-color: #99E2D0;
  z-index: 1;
}
figure figcaption {
  position: relative;
  padding: 2% 5%;
  font-size: 18px;
}
figure figcaption h3 {
  font-weight: 800;
  margin: 2px 0;
}
figure figcaption p {
  padding: 0;
}
figure figcaption i {
  position: absolute;
  right: 5%;
  top: 30%;
  font-size: 180%;
}

/** Footer
 * 
 */
footer {
  background-color: #353535;
  color: white;
  margin-top: auto;
  padding-bottom: 6%;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 3%;
}
footer a i {
  width: 20px;
  padding-right: 30px;
}

/** Responsive
 * 
 */
@media only screen and (min-width: 992px) {
  body {
    background-color: black;
  }
}

/*# sourceMappingURL=style.css.map */
