body, div, form, section, 
header, footer, article, nav,
ul, img{
    border: 1px solid blue;
    background-color: rgb(193, 204, 255);
}

h1, h2, h3, h4, h5, h6, a, p, i, span, li{
    border: 1px dashed green;
    background-color: rgb(189, 255, 189);
}

main{
    border: 1px red dashed;
    background-color: grey;
}

@media all and (min-width: 768px) and (max-width: 992px){
    body{
        background-color: rgb(255, 158, 158);
    }
}

@media all and (max-width: 768px){
    body{
        background-color: rgb(255, 227, 117);
    }
}