@import "all_imports.scss";

/* Titles */
h1 {
    position: relative;
    font-weight: 400;
    @include apparition(1);

    i{
        @extend %heart;
        font-size: 80%;
        right: 12%;
    }
}

h2 {
    font-weight: 400;
    margin: 0 3%;
    text-transform: uppercase;

    &::after {
        content: "";
        position: relative;
        display: block;
        border-bottom: 3px solid $thirdary-color;
        width: 50px;
        margin-top: 8px;
    }
}

/* Principal image of the restaurant */
main {
    img {
        z-index: -1;
        overflow: hidden;
        position: relative;
        margin-top: -5px;
    }
    article {
        background-color: #F7F7F7;
        margin-top: -50px;
        z-index: 1;
        border-radius: 50px 50px 0 0;
        padding-bottom: 30px;
    }
}

/* Button to order */
article > p:last-child {
    margin: 3em auto 1em auto;
    text-align: center;
    @include apparition(14);

    a {
        @extend %button;
        padding: 0.8em 2.5em;
    }
}

/* Cards of plates */
@keyframes check_rot {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-1turn);
    }
}

.plat {
    @extend %shadow;

    width: 90%;
    max-width: 420px;
    height: 80px;
    background-color: $background-color-darker;

    border-radius: 15px;
    margin: 3% auto;
    overflow: hidden;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        background-color: $background-color;

        .texte {
            width: 70%;
            transition: 2s;
        }
        .check i {
            animation: 2s check_rot both;
        }
    }
}

.texte {
    display: inline-block;
    position: relative;

    width: 100%;
    height: 80px;
    padding: 16px 5%;
    margin: 0;

    transition: 1s;

    h3 {
        font-weight: bold;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10%;
        margin-top: 0px;
    }
    h3 + p {
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 18%;
    }
    p:last-child {
        font-weight: bold;
        
        position: absolute;
        right: 5%;
        bottom: 5%;
        padding: 1%;
    }
}

.check {
    display: inline-block;
    vertical-align: top;
    background-color: $thirdary-color;
    text-align: center;
    width: 30%;
    height: 80px;

    i {
        font-size: 1.5em;
        font-weight: bold;
        color: white;

        margin: 30px;
    }
}

/* Loop to calculate the apparition of each element */
@for $i from 2 through 4 {
    $num_apparition: 4 * ($i - 2) + 2;
    section:nth-child(#{$i}) {
        & > h2 {
            @include apparition($num_apparition);
            $num_apparition: $num_apparition + 1;
        }
        @for $j from 2 through 4 {
            & > div:nth-child(#{$j}) {
                @include apparition($num_apparition);
                $num_apparition: $num_apparition + 1;
            }
        }
    }
}

/** Responsive
 * 
 */
@include media(deskop, tablet) {
    section {
        display: flex;
        flex-flow: row wrap !important;
        margin: 0 2%;
        gap: 2%;

        h2 {
            width: 100%;
        }

        .plat {
            max-width: 420px !important;
            min-width: 315px !important;
            margin: 1% auto;
            flex: 1 1 0;
        }
    }
}
