@import "libs/style_reset_mini.scss";
@import "libs/responsive.scss";
@import "libs/general.scss";

body {
    background-color: $background-color;
}
h1 {
    font-weight: 900;
    font-size: 26px;
    padding: 7% 10% 2% 10%;
}
h2{
    font-weight: bold;
    text-align: left;
}
p, li{
    padding: 2% 7%;
}

a{
    text-decoration: none;
    color: $text-color;
}

/** Header
 * 
 */
header{
    margin-bottom: 3%;
    background-color: #F7F7F7;
    padding-bottom: 1em;
    text-align: center;
}
header img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    padding: 7% 30% 3% 30%;
    min-width: 180px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header p:nth-child(2){
    background-color: #EAEAEA;
    text-align: center;
    padding: 3% 0;
}
header p:last-child {
    margin: 2em 0;

    a {
        @extend %button;
    }
} 

/** Aside
 *
 */
aside {
    padding: 50px 15px;

    ol {
        list-style-type: none;
    }
}
aside h2 {
    margin-left: 5px;
    font-size: 26px;
}
aside li{
    background: #F7F7F7;
    margin: 2%;
    border-radius: 15px;
    padding: 20px 0;
    padding-left: 3%;

    @extend %shadow;
    counter-increment: step-counter;

    i {
        padding-right: 2%;
        color: #7E7E7E;
    }

    &:hover{ /* Change la couleur lors du survol */
        background-color: #F5EDFF;

        i { /* L'icône change également de couleur */
            color: $primary-color;
        }
    }

    &::before {
        content: counter(step-counter);
    }

    @for $i from 1 to 4 {
        &:nth-of-type(#{$i})::before {
            background-color: $primary-color;
            border-radius: 50%;
            
            color: white;
            padding: 5px 10px;

            position: relative;
            left: -6%;
        }
    }
}

/** Main
 * 
 */
main{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background-color: #F7F7F7;
    padding: 50px 0;

    h2 {
        margin-left: 20px;
        font-size: 26px;
    }
}

figure {
    position: relative;
    border-radius: 10px;
    align-self: center;
    width: 90%;
    height: 300px;

    @extend %shadow;

    img {
        object-fit: cover;
        height: 70%;
        width: 100%;

        border-radius: 10px 10px 0 0;
    }

    p:first-child {
        font-weight: bold;
        position: absolute;
        top: 3%;
        right: 2%;
        margin: 5px;
        color: #008766;
        background-color: #99E2D0;
        z-index: 1;
    }

    figcaption{
        position: relative;
        padding: 2% 5%;
        font-size: 18px;

        h3 {
            font-weight: 800;
            margin: 2px 0;
        }

        p {
            padding: 0;
        }
        
        i{
            position: absolute;
            right: 5%;
            top: 30%;
            font-size: 180%;
            text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
            1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
            color: $background-color;

            &:active {
                color: $primary-color;
                text-shadow: none;
                transition: 1000ms;
            }
        }
    }
}

/** Footer
 * 
 */
footer{
    background-color: #353535;
    color: white;
    margin-top: auto;
    padding-bottom: 6%;
}
footer img {
    filter: invert(100%);
    width: 150px;
    margin: 40px 0 15px 60px;
}
footer a{
    color: white;
    margin: 3%;

    i {
        width: 20px;
        padding-right: 30px;
    }
}

/** Responsive
 * 
 */
@media #{$deskop-format} {
    body {
        background-color: black;
    }
}
