@import "libs/style_reset_mini.scss";
@import "libs/responsive.scss";

@import "utils/variables.scss";
@import "base/base.scss";
@import "base/general.scss";

@import "layout/header.scss";
@import "layout/footer.scss";

h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
h2 {
    font-weight: 900;
    padding-left: 10px;
}
h3 {
    font-weight: bold;
    font-size: 20px;
}

/** Aside
 *
 */
aside {
    padding: 50px 15px;

    ol {
        list-style-type: none;
    }
}
aside h2 {
    margin-left: 5px;
    font-size: 26px;
}
aside li{
    background: #F7F7F7;
    margin: 2%;
    border-radius: 15px;
    padding: 20px 0;
    padding-left: 3%;

    @extend %shadow;
    counter-increment: step-counter;

    i {
        padding-right: 2%;
        color: #7E7E7E;
    }

    &:hover{ /* Change la couleur lors du survol */
        background-color: #F5EDFF;

        i { /* L'icône change également de couleur */
            color: $primary-color;
        }
    }

    &::before {
        content: counter(step-counter);
    }

    @for $i from 1 to 4 {
        &:nth-of-type(#{$i})::before {
            background-color: $primary-color;
            border-radius: 50%;
            
            color: white;
            padding: 5px 10px;

            position: relative;
            left: -6%;
        }
    }
}

/** Main
 * 
 */
main{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    background-color: #F7F7F7;
    padding: 50px 0;

    h2 {
        margin-left: 20px;
        font-size: 26px;
    }
}

figure {
    position: relative;
    border-radius: 10px;
    align-self: center;
    width: 90%;
    height: 300px;
    background-color: #F7F7F7;

    @extend %shadow;
    &:hover {
        background-color: $background-color;

        i {
            color: $background-color;
        }
    }

    img {
        object-fit: cover;
        height: 70%;
        width: 100%;

        border-radius: 10px 10px 0 0;
    }

    p:first-child {
        font-weight: bold;
        position: absolute;
        top: 3%;
        right: 2%;
        margin: 5px;
        color: #008766;
        background-color: #99E2D0;
        z-index: 1;
    }

    figcaption{
        position: relative;
        padding: 2% 5%;
        font-size: 18px;

        h3 {
            font-weight: 800;
            margin: 2px 0;
        }

        p {
            padding: 0;
        }
        
        i{
            @extend %heart;
        }
    }
}

/** Responsive
 * 
 */
@media #{$deskop-format} {
    body {
        background-color: yellow;
    }
}
