@import "libs/style_reset_mini.scss";
@import "libs/responsive.scss";

@import "utils/variables.scss";
@import "base/base.scss";
@import "base/general.scss";

@import "layout/header.scss";
@import "layout/footer.scss";


header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
        flex: 4 1 0;
        background-color: red;
        padding: 0;
    }
    p {
        background-color: grey;
        vertical-align: middle;
        flex: 1 1 0;
    }
    a {
        background-color: green;
        font-size: 200%;
    }
    i {
        background-color: blue;
    }
}





main > p {
    margin: 2em auto;
    text-align: center;

    a {
        @extend %button;
    }
}