footer{
    background-color: #353535;
    color: white;
    margin-top: auto;
    padding-bottom: 6%;
}
footer img {
    filter: invert(100%);
    width: 150px;
    margin: 5% 0 2% 10%;
}
footer a{
    color: white;
    margin: 3%;

    i {
        width: 20px;
        padding-right: 30px;
    }
}