header{
    position: relative;
    text-align: center;
    background-color: $background-color;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;

    img{
        max-width: 70%;
        height: auto;
        margin: 0 auto;
        padding: 6% 10% 3% 10%;

        @include media(deskop) { // > 992px
            padding-top: 60px;
            padding-bottom: 30px;
        }
    }

    i {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 7%;
        font-size: 8vw;

        @include media(tablet, deskop) { // > 768px
            font-size: 50px;
        }
    }
}