/* Définition des couleurs */
// Couleurs de fond
$background-color: #FFFFFF!default;
$background-color-darker: #F7F7F7!default;

// Couleurs principales
$primary-color: #9356DC!default;
$secondary-color: #FF79DA!default;
$thirdary-color: #99E2D0!default;

// Couleur de texte
$text-color: #000000!default;
