/* Import des polices */
@font-face {
    font-family: Shrikhand;
    src: url("../../import/fonts/Shrikhand/Shrikhand-Regular.ttf")
    format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("../../import/fonts/Roboto/Roboto-Regular.ttf")
        format("opentype");
}

@font-face {
    font-family: Roboto;
    src: url("../../../import/fonts/Roboto/Roboto-Bold.ttf")
        format("opentype");
    font-weight: bold;
}

/* Appliquer les polices sur les différents niveaux de texte */
h1 {
    font-family: Shrikhand, Arial, Helvetica, sans-serif;
}

@for $i from 2 through 4 {
    h#{$i} {
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }
}

p, i, li, a{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

/* Color and size for generic parts */
h1 {
    text-align: left;
    font-size: 32px;
    padding: 8% 5%;
    font-weight: 900;
}

h2{
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    padding: 1% 2%;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 2px 0;
}

p, li{
    padding: 2% 7%;
}

a,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: $text-color;
}

/* Format de texte pour deskop */
@include media(deskop, tablet) {
    h1 {
        font-weight: 900;
        padding: 4% 5%;
    }
}
