/* Déclaration des variables globales */
$background-color: #FFFFFF!default;

$primary-color: #9356DC!default;
$secondary-color: #FF79DA!default;
$thirdary-color: #99E2D0!default;

$text-color: #000000!default;
